.accessible {
    background-color: yellow;
}

#emphasis {
    font-weight: bold;
}

div {
    display: inline-block;
    border: 1px solid black;
    padding: 6px;
}

h1 {
 font-family: sans-serif;
 color: #8ac12c;
 text-align: center;
 margin: 18px;
}

h3 {
 font-family: sans-serif;
 color: #8ac12c;
 text-align: center;
}

a {
    font-family: sans-serif;
    color: #ff00a6;
    text-align: center;
    text-decoration: none;
}

.movie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 15px;
}